<%- include('../partials/header.ejs')%>

<main>
    <div class="form-container">
        <form class="form-group" method = "POST" action = "/swaps/<%= item.id%>?_method=PUT" enctype="multipart/form-data">
                <div>
                    <label>Seller Name *</label>
                    <input name= "seller" type="text" value="<%= item.seller %>" required>
                </div>
                <div>
                    <label>Item Name *</label>
                    <input name="name" id="name" type="text" value="<%= item.name %>" required>
                </div>
                <div class="category-menu">
                    <label>Category of the item</label> 
                    <select name="category" required>
                        <option label=" "></option>
                        <option <%= item.category === "Electronics" ? "selected" : "" %>>Electronics</option>
                        <option <%= item.category === "Clothing" ? "selected" : "" %>>Clothing</option>
                        <option <%= item.category === "Materials" ? "selected" : "" %>>Materials</option>
                        <option <%= item.category === "Other" ? "selected" : "" %>>Other</option>
                    </select>
                </div>
                <div class="details-input">
                    <label>Details</label> 
                    <textarea name="description" id="details-txt" rows="6" required><%= item.description %></textarea>
                </div>
                <div class="upload-img">
                    <label>Image</label> 
                    <input id="upload-btn" type="file" name="img">
                </div>

                <input class="form-submit" type="submit">

        </form>
    </div>
</main>

<%- include('../partials/footer.ejs')%>