<%- include('../partials/header.ejs')%>
<main class="match-game-main">
    <div class="game-info">
        <h2><%=game.name%> | <p><%= game.category%></p>
        </h2>
        <p><%=game.host%></p>
        <p><%=item.description%></p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>