<%- include('../partials/header.ejs')%>
<main class="swap-main">
    <h2 class="title">Game Matches</h2>  
    <h3 class="title">Organize a new game <a href="/matches/new"><b>here</b></a></h3>
    <div class="products">
        <% games.forEach(game=>{ %>
            <a href="/matches/<%=game.id%>">
            <div class="product">
                <span class="badge"><%= game.sport%></span>
                <img src="<%= game.img%>" alt="game image">
                <p><%=game.home%> vs <%=game.away%> </p>
                
            </div></a>
        <% }) %>
    </div>
</main>
<%- include('../partials/footer.ejs')%>